.dropdown {
  position: absolute;
  z-index: 1000;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 2px 4px 3px #202c330d;
  padding: 1rem;
  min-width: 260px;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
