.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 2000;
  display: flex;
  justify-content: flex-end;
  animation: fadeIn 0.3s ease forwards;
}

.drawer {
  height: 97vh;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  overflow-y: auto;
  margin-right: 10px;
  transform: translateY(1.5vh) !important;
  animation: slideIn 0.3s ease forwards;
}

.content {
  padding: 2rem;
}

@keyframes fadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.25);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
